<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Muziko - Musician Directory</title>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <body>
      <h1>Muziko - Musician Directory</h1>
      <main>
      
      <img id="banner" src="static/banner.jpg" alt="band playing musical instruments"  height="320"">

      <h2>About Muziko</h2>
      <p>Tart croissant bear claw chupa chups marzipan shortbread topping. Candy canes pastry dessert croissant bonbon macaroon. Toffee cake ice cream jelly-o bear claw powder gummies sweet chocolate cake. Shortbread sesame snaps pastry carrot cake bear claw dragée topping jelly. Sweet gummies powder gummi bears pastry.</p>
      <h2>Latest Musicians</h2>
      <p>TODO - show the musicians</p>
        <div id="contact_btn">
          <button>Contact Us</button>
        </div>
      
      </main>
    </body>
  </head>  
</html>  

